<span ng-init="init()"></span>
<div>
<input style="width: 35%" type="text"
       ng-model="search.q"></input>
<i ng-click="performSearch()"
   class="fa fa-search fa-2"></i> 
</div>
 <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <button type="button" class="close" ng-click="ok()">&times;</button>
        <h4 class="modal-title">{{modalData.description}}</h4>
      </div>
      <div class="modal-body">
        <div ng-show="modalData" >
          <img class="center"  
               width="500"
               ng-src="{{proxyUrl(modalData.photo)}}"/>
          <span ng-show="modalData.audio">
            <div style="vertical-align: top">Listen:</div>
            <audio ng-click="listened(modalData, $event)"
                   ng-attr-src="{{proxyUrl(modalData.audio)}}"
                   controls preload></audio> 
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="ok()">Close</button>
      </div>
</script>

<div class="table-responsive">
  <table class="table table-hover">
      <tr class="row-top-buffer"
          ng-repeat="item in search.items">
        <td class="col-md-1">
          <img ng-click="showModal($index)" 
               style="cursor: pointer"-
               ng-src="{{proxyUrl(item.thumbnail)}}"/>
        </td>
        <td class="col-md-11">
          <div ng-if="item.type === 'user'">
            <a ng-href="#/activities/list/{{item.objectId}}">
               {{item.description}}
            </a>
            <br>
            Active since: {{item.active}}
            <br>
            Has listened to: {{item.viewed}}
            <br>
            Has been heard: {{item.audioViews}}
            <br>
            <div ng-show="authenticated()"
                 class="btn-group btn-group-sm">
              <button ng-click="joinFamily($index)"
                      type="button" 
                      ng-disabled="item.isSelf || item.familyStatus"
                      class="btn btn-default">
                <span ng-if="item.familyStatus === 1">Pending</span>
                <span ng-if="item.familyStatus === 2">In Family</span>
                <span ng-if="!item.familyStatus">Join Family</span>
              </button>
            </div>
            <div ng-show="item.familyRequestSent" 
                 class="alert alert-success alert-dismissable">
              <button type="button" 
                      class="close" 
                      data-dismiss="alert" 
                      aria-hidden="true">
                &times;
              </button>
              Your family request has been sent.  Once approved you
              will be able to submit questions.
            </div>
            <div ng-show="authenticated()"
                 class="btn-group btn-group-sm">
              <button ng-click="subscribe($index)"
                      ng-disabled="item.isSelf"
                      type="button" 
                      class="btn btn-default">
                <span ng-if="item.isSubscribed">Unsubscribe</span>
                <span ng-if="!item.isSubscribed">Subscribe</span>
              </button>
            </div>
            <div ng-show="item.subscribed" 
                 class="alert alert-success alert-dismissable">
              <button type="button" 
                      class="close" 
                      data-dismiss="alert" 
                      aria-hidden="true">
                &times;
              </button>
              You are now subscribed to {{item.description}}.
            </div>
          </div>
          <div ng-if="item.type === 'activity'">
            <a href ng-click="showModal($index)">
               {{item.description}}
            </a>
            <br>
            By: <a ng-href="#/activities/list/{{item.userId}}"
                   >{{item.username}}</a>
            <br>
            <audio ng-click="listened(item, $event)"
                   ng-attr-src="{{proxyUrl(item.audio)}}" 
                   preload=false controls></audio> 
            <br>
            Recorded: {{item.active}}
            <br>
            Listened: {{item.views}} times
            <br>
            <div class="likes-container">
              <span  ng-show="authenticated()">
                <a href>
                  <span ng-show="item.iLikeThis"
                        ng-click="like(item, false)"
                        fv-tooltip="Click if you want to unlike">
                    Unlike
                  </span>
                  <span ng-show="!item.iLikeThis"
                        ng-click="like(item, true)"
                        fv-tooltip="Click if you want to like this audio">
                    Like
                  </span>
                </a> 
              </span>
              <span style="float: right" >
                <span fv-tooltip="Click to see who likes this" >
                  <i class="fa fa-thumbs-o-up fa-lg"
                     style="cursur: pointer"
                     ng-click="showLikes(item)"></i>
                  {{item.liked}}
                </span>
              </span>
	      <div collapse="item.isLikeCollapsed">
	        <div class="well well-sm">
                  <span ng-repeat="user in item.likes">
                    <a ng-href="#/activities/list/{{user.id}}">
                      <strong>{{user.firstName}}
                      {{user.lastName}}</strong>
                      <span ng-if="!$last">, </span>
                    </a>
                  </span>
                </div> 
	      </div>
            </div>
          </div>
        </td>
      </tr>
  </table>
</div>
