<div id="globalSearch" ng-init="init()">
  <div ng-show="dropdown"
       name="searchOptions"
       id="searchOptions">
    <table class="table table-hover searchTable-hover" style="margin-bottom: 0">
      <tr class="row-top-buffer searchOption" 
          ng-click="option('all')">
        <td class="col-md-2 searchOption">
          <i class="fa fa-users fa-2x"></i>
        </td>
        <td class="col-md-10 searchOption">
          All stories
        </td>
      </tr>
      <tr ng-show='authenticated' 
          class="row-top-buffer searchOption" 
          ng-click="option('my')">
        <td class="col-md-2 searchOption">
          <i class="fa fa-user fa-2x"></i>
        </td>
        <td class="col-md-10 searchOption">
          My Stories
        </td>
      </tr>
      <tr class="row-top-buffer searchOption" 
          ng-click="option('memorial')">
        <td class="col-md-2 searchOption" >
          <i class="fa fa-heart fa-2x"></i>
        </td>
        <td class="col-md-10 searchOption">
          Memorials
        </td>
      </tr>
    </table>
  </div>
  <tour>
    <div class="col-sm-3 col-md-3 pull-left" 
         style="padding-left: 0; z-index: 2500">
      <form class="navbar-form" 
            style="padding:0"
            role="search">
        <div class="input-group">
          <div class="input-group-btn">
            <button class="btn btn-default"
                    ng-mousedown="goHome($event)"
                    style="background-image:url('./favicon.png');background-repeat:no-repeat;
                           background-position: 50% 50%;
                           vertical-align:baseline;
                           background-size: contain; 
                           width:32px; height:32px;">
            </button>
          </div>
          <input type="text" 
                 tourtip="This is the search page.  You can find people and
                          stories here.  This search box is where you enter family
                          names or places that you want to search for.  Let's look next at a story."
                 tourtip-placement="right"
                 tourtip-step="0"
                 tourtip-offset="60"
                 class="form-control searchOption"
                 style="height: 33px; width: 450px;
                        margin-left: 6px; margin-top:1px;"
                 fv-debounce=600
                 autofocus
                 ng-mousedown="dropdownToggle()"
                 ng-keypress="checkForEnter($event)"
                 id="searchTerm"
                 name="searchTerm"
                 ng-model="search.q">
          <div class="input-group-btn">
            <button class="btn btn-default"
                    ng-click="performSearch()"
                    type="submit">
              <i class="fa fa-search fa-lg"
                 style="vertical-align: baseline">
              </i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <span ng-show="authenticated">
      <div ng-show="!verifiedUser">
        <div class="table-responsive">
          <table class="table table-hover">
            
        <tr class="row-top-buffer">
          <td colspan="2" class="alert alert-success">
            Note: To enjoy all of MyFamilyVoice 
                <span ng-show="!verifiedEmail">you must verify you email
                  address.  Please check your email for an email from MyFamilyVoice
                  to confirm your address.  
                </span>
                <span ng-show="!verifiedEmail  && !recaptcha"> 
                  And 
                </span>
                <span ng-show="!recaptcha">
                  you must complete the 
                  <a href="#/account" style="color: blue">
                    Account
                  </a> information.
                </span>
          </td>
        </tr>
        </table>
       </div>
      </div>
    </span>
    <div class="table-responsive">
      <table class="table table-hover">
       
        <tr class="row-top-buffer"
            ng-repeat="item in search.items">
          <td class="col-md-1">
            <img tourtip="Sometimes this picture might not be big enough
                          to see the details while listening to the story.  If so
                          just click the picture and you'll see a larger image."
                 tourtip-placement="right"
                 tourtip-step="2"
                 ng-click="showModal($index)" 
                 style="cursor: pointer"
                 ng-src="{{proxyUrl(item.thumbnail)}}"/>
          </td>
          <td class="col-md-11">
            <div ng-if="item.type === 'user'">
              <a tourtip="This is information about a MyFamilyVoice
                          member.  If you would like to see the related stories,
                          just click the person's name. "
                 tourtip-step="3"
                 style="cursor: pointer"
                 ng-click="showUser($index)">
                {{item.userName}}
              </a>
              <br>
              Active since: {{item.active}}
              <br>
              Has listened to: {{item.viewed}}
              <br>
              Has been heard: {{item.audioViews}}
              <br>
            
              <div ng-show="authenticated"
                   class="btn-group btn-group-sm">
                <button ng-click="item.hideAddStory= !item.hideAddStory"
                        type="button" 
                        class="btn btn-default">
                  Add Story
                </button>
              </div>
              <div ng-show="authenticated"
                   class="btn-group btn-group-sm">
                <button ng-click="subscribe($index)"
                        ng-disabled="item.isSelf"
                        type="button" 
                        class="btn btn-default">
                  <span ng-if="item.isSubscribed">Unsubscribe</span>
                  <span ng-if="!item.isSubscribed">Subscribe</span>
                </button>
              </div>
              <div ng-show="!item.hideAddStory" 
                   style="margin-top:4px"
                   class="alert alert-warning">
                <ng-include src="'search/story.html'"></ng-include>
              </div>

              <div ng-show="item.subscribed" 
                   class="alert alert-success alert-dismissable">
                <button type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-hidden="true">
                  &times;
                </button>
                You are now subscribed to {{item.userName}}.
              </div>
            </div>
            <div ng-if="item.type === 'activity'">
              <a href ng-click="showModal($index)">
                {{item.description}}
              </a>
              <br>
              By: <a ng-click="showUserForActivity($index)"
                     >{{item.userName}}</a>
              <br>
              <audio  tourtip="This is what MyFamilyVoice is all about -
                               the ability to listen to your family's voice
                               recordings - anytime, anywhere.  Just press the
                               start button and listen."
                      tourtip-step="1"
                      ng-click="listened(item, $event)"
                      ng-attr-src="{{proxyUrl(item.audio)}}" 
                      preload=false controls></audio> 
              <br>
              Recorded: {{item.active}}
              <br>
              Listened: {{item.views}} times
              <br>
              <div class="likes-container">
                <span  ng-show="authenticated">
                  <a href>
                    <span ng-show="item.iLikeThis"
                          ng-click="like(item, false)"
                          fv-tooltip="Click if you want to unlike">
                      Unlike
                    </span>
                    <span ng-show="!item.iLikeThis"
                          ng-click="like(item, true)"
                          fv-tooltip="Click if you want to like this audio">
                      Like
                    </span>
                  </a> 
                </span>
                <span style="float: right" >
                  <span fv-tooltip="Click to see who likes this" >
                    <i class="fa fa-thumbs-o-up fa-lg"
                       style="cursur: pointer"
                       ng-click="showLikes(item)"></i>
                    {{item.liked}}
                  </span>
                </span>
	        <div collapse="item.isLikeCollapsed">
	          <div class="well well-sm">
                    <span ng-repeat="user in item.likes">
                      <a ng-click="showUserLikingThis(item, $index)">
                        <strong>{{user.firstName}}
                          {{user.lastName}}</strong>
                        <span ng-if="!$last">, </span>
                      </a>
                    </span>
                  </div> 
	        </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
</div>
</tour>
</div>
