<div ng-init="init(item)" 
     ng-controller="StoryCtrl">
  <div class="row">
    <div class="col-xs-8  ">
      <span ng-show="activity.hasWriteAccess()">
        <h3 style="margin-top:-7px">
          <span ng-if="item.type === 'user'">New Story</span>
          <span ng-if="item.type === 'activity'">Story</span>
        </h3>
        <span ng-show="item.type === 'user' && item.isSelf">
          <p>You are creating a new Story for yourself.</p>
        </span>
        <span ng-show="item.type === 'user' && !item.isSelf">
          <p>You are creating a new Story for {{item.userName}}.</p>
        </span>
      </span>

      <form id="roleForm" 
            novalidate="" 
            name="roleForm"
            class="form-horizontal">
        
        <!-- Question --------------------------------------->
        <div ng-show="activity.hasWriteAccess()"
             class="control-group">
          <div class="controls">
            <div class="input-prepend">
              <span class='fv-label'>Please enter a description of
              what the story is about:</span>
              <textarea
                 ng-model="activity.comment"
                 class="input-xlarge" 
                 id="comment" 
                 name="comment"
                 required
                 ng-minlength=10
                 ng-maxlength=250
                 rows=5
                 cols=50
                 placeholder="Question">
              </textarea>
            </div>
          </div>
        </div>

        <div class="fv-warning" 
             ng-show="roleForm.comment.$invalid &&
                      roleForm.submitted">
          A question should be between 10 and 250 characters.
        </div>

        <!---- Imaage -------------------------------------------------->          
        <div ng-show="activity.hasWriteAccess()">
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class='fv-label' >Photo:</span>
                <input type="file" 
                       fv-file-select="onFileSelect($files)" 
                       id="fileToUpload"
                       name="fileToUpload"
                       ng-model="photo"
                       style="vertical-align: top"
                       validfilesize
                       validfiletype
                       onchange="angular.element(this).scope().setFiles(this)">
              </div>
            </div>
          </div>
          <span class='fv-warning'
                ng-show="roleForm.fileToUpload.$error.validfiletype">
            Image must be of jpg, gif or png type.
            <br>
          </span>

          <span class='fv-warning'
                ng-show="roleForm.fileToUpload.$error.validfilesize">
            Image size must be less the 2M!
            <br>
          </span>

          <span class='fv-warning'
                ng-show="roleForm.fileToUpload.$error.validfilesize
                         && signupForm.submitted">
            Please choose another image.
          </span>
        </div>
        <!------------Preview image  ---------------------------------------->
        <div ng-if="imageSrc">
          <img style="margin-top: 5px;"
               width="750" 
               ng-src="{{imageSrc}}" />
        </div>
        <!---- Current Imaage -------------------------------------------------->          
        <div ng-if="getThumbnail() && ! imageSrc" class="control-group">
          <img style="margin-top: 5px"
               width="750"
               ng-src="{{proxyUrl(activity.photo)}}"></img>
        </div>
        <!--  Recording buttons ------------------------------->
        <div ng-show="activity.hasWriteAccess()"  class="control-group">
          <div class="controls">
            <div class="input-prepend" style="margin-top: 10px">
              <span ng-show="!recording">
                Press the Record button to record your story.<br>
                You have up to 2 minutes of recording time.
              </span>
              <span ng-show="recording">
                Press the Stop button to end  your recording.
              </span>
              <br><br>
              <div class="buttonContainer">
                <strong  style="vertical-align: top; margin-right: 10px">
                  Record:
                </strong>	
                <div class="recordingButtons">
                  <!-- recording button -->
                  <span ng-click="beginRecording()"
                        fv-tooltip="Begin recording"
                        ng-disabled="recording">
                    <i id="startRecording" class="fa fa-play fa-lg"></i>
                  </span>
                  <!-- recording button -->
                  <span ng-click="stopRecording()"
                        fv-tooltip="Stop recording"
                        ng-disabled="!recording">
                    <i id="stopRecording" class="fa fa-stop fa-lg"></i>
                  </span>
                  <timer interval="1000"
                         id='myTimer'
                         fv-tooltip="Time remaining"
                         countdown="120" 
                         autostart="false">
                    <div class="progress">
                      <div class="progress-bar {{progressBar}}" 
                           role="progressbar"
                           style="width: {{(((minutes * 60) - seconds)/120)*100}}%;">
                      </div> 
                    </div>
                    <span class="timerSeconds">{{minutes}}:{{seconds
                      | secondsFilter}}</span>
                  </timer>

                </div><!-- recordingButtons -->
              </div><!--button container-->
            </div>
          </div>
        </div>
        <br>
        <!-- Submit ------------------------------------------>
        <div ng-show="activity.hasWriteAccess()"
             class="btn-group btn-group-sm">
          <button ng-click="submit()"
                  type="button"
                  class="btn btn-default">
            <i class="fa fa-sign-in"></i>
            Save
          </button>
        </div>
        

        <div ng-if="item.type === 'user'"
             class="btn-group btn-group-sm">
          <button ng-click="userJson.hideAddStory=true"
                  type="button"
                  class="btn btn-default">
            <i class="fa fa-arrow-circle-o-left"></i>
            Close
          </button>
        </div>
        
          <div ng-if="item.type === 'activity'"
               class="btn-group btn-group-sm">
            <button ng-click="activityJson.hideAddStory=true"
                    type="button"
                    class="btn btn-default">
              <i class="fa fa-arrow-circle-o-left"></i>
              Close
            </button>
          </div>
      </form>
    </div>
  </div>
</div>
