<div ng-if="item.type === 'user'">
  <a tourtip="This is information about a MyFamilyVoice
              member.  If you would like to see the related stories,
              just click the person's name. "
     tourtip-step="3"
     style="cursor: pointer"
     ng-click="showUser($index)">
    {{item.userName}}
  </a>
  <br/>
  Active since: {{item.active}}
  <br/>
  Has listened to: {{item.viewed}}
  <br/>
  Has been heard: {{item.audioViews}}
  <br/>
  
  <div ng-show="authenticated"
       class="btn-group btn-group-sm">
    <button ng-click="item.hideAddStory= !item.hideAddStory"
            type="button" 
            class="btn btn-default">
      Add Story
    </button>
  </div>
  <div ng-show="authenticated"
       class="btn-group btn-group-sm">
    <button ng-click="subscribe($index)"
            ng-disabled="item.isSelf"
            type="button" 
            class="btn btn-default">
      <span ng-if="item.isSubscribed">Unsubscribe</span>
      <span ng-if="!item.isSubscribed">Subscribe</span>
    </button>
  </div>
  <div ng-show="!item.hideAddStory" 
       style="margin-top:4px"
       class="alert alert-warning">
    <ng-include src="'search/story.html'"></ng-include>
  </div>

  <div ng-show="item.subscribed" 
       class="alert alert-success alert-dismissable">
    <button type="button" 
            class="close" 
            data-dismiss="alert" 
            aria-hidden="true">
      &times;
    </button>
    You are now subscribed to {{item.userName}}.
  </div>
</div>
