/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 
.lower {
    margin-top: 91px;
}
.fv-warning {
    color:tomato;
    padding-bottom: 5px;
}
.fv-label {
    margin-right: 10px;
    font-weight: bold;
}
.error {
    background-color: red;
    color: wheat;
}
/* Styling for loading container */

#loading-container{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:99999;
    padding:0;
    margin:0
}
#loading-container #loading{
    z-index:99998;
    display:block;
    width:125px;
    height:34px;
    padding:0;
    margin-top:97px;
    margin-right:auto;
    margin-left:auto;
    font-weight:600;
    background-color:#e1e1e1;
    border:1px solid #b3b3b3;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    opacity:0;
    -webkit-background-clip:padding-box;
    -moz-background-clip:padding;
    background-clip:padding-box
}
#loading-container #loading img{
    margin-top:6px;
    margin-right:10px;
    margin-left:10px;
    vertical-align:bottom
}
#fileToUpload {
    display: inline;
    vertical-align: super;
}
.account-label {
    margin-right: 30px;
}
.account-thumbnail {
    display: inline-block;
    margin-right: 78px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.icon-notanicon {
        font-family: Arial, Helvetica, Geneva, SansSerif;
        font-weight: bold;
}
.buttonContainer {
    display: table;
}
.recordingButtons {
    display: table-cell; 
    vertical-align: middle;
    height: 30px;
    width: 300px;
    background: #404041;
    border-radius: 5px;
    moz-border-radius: 5px; //If using Firefox
}
.fa-play {
    margin-left: 14px;
    margin-right: 14px;
    color: white;
}

.fa-stop {
    color: white;
    margin-right: 14px;
}

img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}
.progress {
    display: inline-block;
    margin-bottom: 0;
    width: 160px;
    vertical-align: middle;
}
.timerSeconds {
    color: white;
    font-weight: bold;
    font-size: small;
    margin-left: 10px;
}
.likes-container {
    width: 300px;
}
.fa-thumbs-o-up {
    margin-left: 15px;
}
.fa-comment-o {
    margin-left: 10px;
}
.commentsContainer {
    margin-top: 5px;
}
.commentWell {
    padding: 6px;
}
.referralNotes {
    width: 300px;
    padding: 15px;
}