/* ==========================================================================
   Insert Your Custom Styles Below. All styles located in this file will
   override existing main.css stylesheets.
   ========================================================================== */ 
.lower {
    margin-top: 91px;
}
.fv-warning {
    color:tomato;
    padding-bottom: 5px;
}
.fv-label {
    margin-right: 10px;
    font-weight: bold;
}
.error {
    background-color: red;
    color: wheat;
}