
<!--Content-->
<section id="signup" ng-init="init()">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-6 col-sm-offset-3 text-center signup">
        <h3>Admin</h3><br />
        <div class="table-responsive">
          <table class="table table-striped table-hover table-condensed">
            <tr ng-repeat="role in roles">
              <td ng-click="setRole($index)">
                {{role.name}}
              </td>
            </tr>
          </table>
        </div>

        <form id="roleForm" 
              novalidate="" 
              id="roleForm"
              name="roleForm"
              class="form-horizontal">
          <!-- RoleName ------------------------------------------>
          <div class="control-group">
            <div class="controls">
             <div class="input-prepend">
                <span class='fv-label'>Role Name</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="text" 
                       ng-model="role.name"
                       class="input-xlarge" 
                       id="roleName" 
                       name="roleName"
                       required
                       placeholder="Role Name">
              </div>
            </div>
          </div>
          <div class="fv-warning" 
               ng-show="roleForm.roleName.$invalid &&
                        roleForm.submitted">
            Role name is required.
          </div>

          <!-- Roles ------------------------------------------>
          <div class="control-group">
            <div class="controls">
             <div class="input-prepend">
                <span class='fv-label'>Roles</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="text" 
                       ng-model="role.roles.relation"
                       class="input-xlarge" 
                       id="roles" 
                       name="roles"
                       placeholder="Roles">
              </div>
            </div>
          </div>

           <!-- Users ------------------------------------------>
          <div class="control-group">
            <div class="controls">
             <div class="input-prepend">
                <span class='fv-label'>Users</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="text" 
                       ng-model="role.users.relation"
                       class="input-xlarge" 
                       id="users" 
                       name="users"
                       placeholder="Users">
              </div>
            </div>
          </div>
           <!-- Current User ------------------------------------------>
          <div class="control-group">
            <div class="controls">
             <div class="input-prepend">
                <span class='fv-label'>Current</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="text" 
                       ng-model="currentUser"
                       class="input-xlarge" 
                       id="users" 
                       name="users"
                       placeholder="Current">
              </div>
            </div>
          </div>
            <!-- Add current user ------------------------------------------>
          <div class="control-group">
            <div class="controls">
              <button type="submit" ng-click='addCurrentUser()'
                      class="btn-main"><i class="fa
              fa-sign-in"></i>Add Current User to Users</button>
            </div>
            <br>
          </div
          <!-- Submit ------------------------------------------>
          <div class="control-group">
            <div class="controls">
              <button type="submit" 
                      ng-click="createUpdateRole()"
                      class="btn-main"><i class="fa
              fa-sign-in"></i>Create/Update Role</button>
            </div>
            <br>
          </div>

        </form>
   

      </div> <!-- form -->
    </div><!--End Row-->
  </div><!--End Container-->
  
</section>



