<div class="clearfix" style="margin-bottom: 20px">
  <div class="pull-right">
    <button class="btn" ng-click="newQuestion()">New Question</button>
  </div>
</div>
<div ng-repeat="activity in activities" class="well well-sm">
    <div class="pull-right">
        <button class="btn" ng-click="edit(activity)">Edit</button>
        <button class="btn" ng-click="record(activity)">Record</button>
        <button class="btn" ng-click="delete(activity)">Delete</button>
    </div>
    <div style="margin-bottom:10px">
        <span class="label label-info" ng-repeat="tag in activity.tags | orderBy: 'tag.name'" style="margin-right:10px">{{tag.name}}</span>
        {{activity.date.iso | date: 'yyyy-MM-dd'}}
    </div>
    <span ng-show="hasFile($index)"> <a ng-href={{activity.file.url}}
    target=_blank>Audio</a></span> 
    <div ng-bind-html="activity.comment"></div>
</div>
