
<!--Content-->
<section id="signup" ng-init="init()">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-6 col-sm-offset-3 signup">
        <h3>Question</h3><br />
        <form id="roleForm" 
              novalidate="" 
              id="roleForm"
              name="roleForm"
              class="form-horizontal">
         
          <!-- Questin --------------------------------------->
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class='fv-label'>Below is your question</span>
                <br>
          	<textarea
                   ng-disabled="!activity.hasWriteAccess() || isRecording()"
                   ng-model="activity.comment"
                   class="input-xlarge" 
                   id="comment" 
                   name="comment"
                   required
                   ng-minlength=10
                   ng-maxlength=250
                   rows=5
                   cols=50
                   placeholder="Question">
                </textarea>
              </div>
            </div>
          </div>

          <div class="fv-warning" 
               ng-show="roleForm.comment.$invalid &&
                        roleForm.submitted">
            A question should be between 10 and 250 characters.
          </div>
          <!--  Recording buttons ------------------------------->
          <span ng-show="isRecording()">
            <div  class="control-group">
              <div class="controls">
                <div class="input-prepend">
                  <span class='fv-label'>Record your thoughts</span>
                  <br>
                  <input type="button"  
                         class='btn btn-primary'  
                         id="call"
                         value="Begin Recording"
                         ng-disabled="recording"
                         ng-click="beginRecording()"/>
                  <br>
                  <input type="button" 
                         class='btn btn-primary' 
                         id="hangup"
                         value="Stop Recording"
                         ng-disabled="!recording"
                         ng-click="stopRecording()"/>
                  <br>
                </div>
              </div>
            </div>
            <div id="status">Offline</div>
          </span>
          <hr>
           <!-- File ------------------------------------------>
           <span  ng-show="hasFile()">
             <div class="control-group">
               <div class="controls">
                 <div class="input-prepend">
                   <span class='fv-label'>Audio</span>
          	   <a ng-href={{activity.file._url}}
          	      target=_blank>
                     Listen
                   </a>
                 </div>
               </div>
             </div>
           </span>

          <!-- Submit ------------------------------------------>
          <span ng-show="activity.hasWriteAccess()  && !isRecording()">
            <div class="control-group">
              <div class="controls">
                <button type="submit" 
                        ng-click="submit()"
                        class="btn-main">
                  <i class="fa fa-sign-in"></i>
                  Submit
                </button>
              </div>
              <br>
            </div>
          </span>
          <span ng-show="!activity.hasWriteAccess()  || isRecording()">
            <div class="control-group">
              <div class="controls">
                <button type="submit" 
                        ng-click="back()"
                        class="btn-main">
                  <i class="fa fa-arrow-circle-o-left"></i>
                  Return
                </button>
              </div>
              <br>
            </div>
          </span>
          

        </form>
   

      </div> <!-- form -->
    </div><!--End Row-->
  </div><!--End Container-->
  
</section>



