
<!--Content-->
<section id="signup" ng-init="init()">
  <div class="container">
    <div class="row margin-40">
      <div class="col-sm-6 col-sm-offset-3 signup">
        <h3>Question</h3><br />
        <form id="roleForm" 
              novalidate="" 
              id="roleForm"
              name="roleForm"
              class="form-horizontal">
         
          <!-- Questin --------------------------------------->
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class='fv-label'>Below is your question</span>
                <br>
          	<textarea
                   ng-disabled="!activity.hasWriteAccess() || isRecording()"
                   ng-model="activity.comment"
                   class="input-xlarge" 
                   id="comment" 
                   name="comment"
                   required
                   ng-minlength=10
                   ng-maxlength=250
                   rows=5
                   cols=50
                   placeholder="Question">
                </textarea>
              </div>
            </div>
          </div>

          <div class="fv-warning" 
               ng-show="roleForm.comment.$invalid &&
                        roleForm.submitted">
            A question should be between 10 and 250 characters.
          </div>
          <!--  Recording buttons ------------------------------->
          <span ng-show="isRecording()">
            <div  class="control-group">
              <div class="controls">
                <div class="input-prepend">
                  <span ng-show="!recording"
                        class='fv-label'>
                    Press the Record button to record your story.<br>
                    You have 30 seconds of recording time.
                  </span>
                  <span ng-show="recording"
                        class='fv-label'>
                    Press the Stop button to end  your recording.
                  </span>
                  <br>
                  <!-- recording button -->
                  <div ng-show="!recording"
                       ng-click="beginRecording()" 
                       class='contain-i-e-s'>
                    <i id='recordIcon'
                       class="fa fa-play-circle-o "></i>
                    <div class='text-i-e-s'>
                     
                    </div>
                  </div>
                  <!-- recording button -->
                  <div ng-show="recording"
                       ng-click="stopRecording()" 
                       class='contain-i-e-s'>
                    <i id='stopIcon'
                       class="fa fa-stop "></i>
                    <div class='text-i-e-s'>
                      <timer
                         id='myTimer'
                         countdown="30" 
                         autostart="false"
                         interval="1000">{{countdown}}
                      </timer>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </span>
          <br><br>
          <hr>
           <!-- File ------------------------------------------>
           <span  ng-show="hasFile()">
             <div class="control-group">
               <div class="controls">
                 <div class="input-prepend">
                   <span class='fv-label'>Audio</span>
          	   <a ng-href={{activity.file._url}}
          	      target=_blank>
                     Listen
                   </a>
                 </div>
               </div>
             </div>
           </span>

          <!-- Submit ------------------------------------------>
          <span ng-show="activity.hasWriteAccess()  && !isRecording()">
            <div class="control-group">
              <div class="controls">
                <button type="submit" 
                        ng-click="submit()"
                        class="btn-main">
                  <i class="fa fa-sign-in"></i>
                  Submit
                </button>
              </div>
              <br>
            </div>
          </span>
          <span ng-show="!activity.hasWriteAccess()  || isRecording()">
            <div class="control-group">
              <div class="controls">
                <button type="submit" 
                        ng-click="back()"
                        class="btn-main">
                  <i class="fa fa-arrow-circle-o-left"></i>
                  Return
                </button>
              </div>
              <br>
            </div>
          </span>
          

        </form>
   

      </div> <!-- form -->
    </div><!--End Row-->
  </div><!--End Container-->
  
</section>



