<!--Content-->
<section id="signup" ng-init="init()">
  <div class="container">
    <div class="row margin-40">
      
      <div class="col-sm-6 col-sm-offset-3 text-center signup">
        <h3>Account Information</h3><br />
        <p>Please confirm or complete the following information.</p>
        </br>
        <form ng-submit="save()" novalidate="" 
              id="signupForm"
              name="signupForm"
              class="form-horizontal">

          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class='fv-label' >First Name</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="text" 
                       ng-model="user.firstName"
                       class="input-xlarge" 
                       id="firstName" 
                       name="firstName"
                       required
                       placeholder="First Name">
              </div>
            </div>
          </div>
          <div class="fv-warning" 
               ng-show="signupForm.firstName.$invalid &&
                        signupForm.submitted">
            First name is required.
          </div>
          
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class='fv-label'>Last Name</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="text"
                       ng-model="user.lastName"
                       id="lastName" 
                       name="lastName"
                       class="input-xlarge" 
                       required
                       placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="fv-warning" 
               ng-show="signupForm.lastName.$invalid &&
                        signupForm.submitted">
            Last name is required.
          </div>
          
          <div class="control-group">
            <div class="controls">
              <div class="input-prepend">
                <span class='fv-label' style="margin-right: 43px">Email</span>
          	<span class="add-on"><i class="fa fa-chevron-right"></i></span>
          	<input type="email"
                       ng-model="user.primaryEmail"
                       id="email" 
                       name="email"
                       class="input-xlarge" 
                       required  
                       placeholder="Email">
              </div>
            </div>
          </div>
          <span class="fv-warning" 
                ng-show="signupForm.email.$invalid 
                         && signupForm.submitted">
            Please provide valid email.
          </span>

          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn-main"><i class="fa fa-check-square-o"></i>Submit</button>
            </div>
            <br>
          </div>
          
        </form>
        
      </div><!--End Span6-->
      
    </div><!--End Row-->
  </div><!--End Container-->
  
</section>
