<span ng-init="init()"></span>
<div>
<input style="width: 35%" type="text"
       ng-model="search.q"></input>
<i ng-click="performSearch()"
   class="fa fa-search fa-2"></i> 
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
      <tr ng-repeat="item in search.items">
        <td ng-if="item.type === 'user'">
          {{item.description}} Active {{item.active}} {{item.views}}
        </td>
        <td ng-if="item.type === 'activity'">
           <a ng-href={{item.audio.url}}
              target=_blank>{{item.description}}</a>
           {{item.active}} {{item.views}} listened
        </td>
      </tr>
  </table>
</div>
