<!--Content-->
<section id="signup" ng-init="init()">
  <div class="container">
    <div class="row margin-40">
      
      <div class="col-sm-6 col-sm-offset-3 text-center signup">
        <h3>Confirm Email</h3><br />
        <span ng-if="confirmed">
          <p>Thanks for confirming your email.</p>
          <p>You may now request the permission to ask questions.</p>
        </span>
        <span ng-if="!confirmed">
          <p>Email confirmation in process.....</p>
        </span>
      </div>
    </div><!--End Row-->
  </div><!--End Container-->
</section>
